body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.accent {
  color: #2196f3;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: block;
  padding: 0;
  text-decoration: none;
  color: #757575;
}

/*Header-page*/
header.page-header {
  border-bottom: 1px solid #ECECEC;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  letter-spacing: 0.03em;
  text-decoration: none;
}

/* Navigation */
nav.header-navigation {
  margin-left: 93px;
}

.header-navigation_items .link {
  color: #212121;
}

.header-navigation_link,
.header-contact_link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-navigation_link {
  position: relative;
}

.header-navigation_link--current::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: #2196f3;
}

.header-navigation_item:not(:last-child) {
  margin-right: 50px;
}

.header-navigation_link,
.header-contact_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation_link:hover, .header-navigation_link:focus,
.header-contact_link:hover,
.header-contact_link:focus {
  color: #2196f3;
}

.header-navigation_link:hover .link,
.header-navigation_link:focus .link,
.header-contact_link:hover .link,
.header-contact_link:focus .link {
  color: currentColor;
}

/*Header contacts*/
.header-contacts {
  margin-left: auto;
}

.header-contact:not(:last-child) {
  margin-right: 30px;
}

.header-contact_icon {
  margin-right: 10px;
  fill: currentColor;
}

.link.header-navigation_link--current {
  color: #2196f3;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section:nth-child(3) {
  padding-top: 0;
}

.main-studio .section:first-child {
  padding: 200px 0;
}

/* Hero */
.hero_title {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero_title,
.portfolio_title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 696px;
  height: 120px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.hero_button {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

.overlay {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Features page*/
.features_headline,
.perfomance_headline,
.team_headline,
.clients_headline {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.features_headline {
  display: none;
  color: #ffffff;
}

.features_items,
.features_icon,
.perfomance_items,
.header-navigation_items,
.header-contacts,
.team_members,
.team_account-link,
.clients_items,
.clients_link,
.accounts,
.account_link,
.filter_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features_item {
  margin-right: 30px;
  width: 270px;
}

.features_item:last-child {
  margin-right: 0;
}

.features_icon {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
}

.features_title,
.feedback-act_title,
.perfomance_title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features_title {
  margin-bottom: 10px;
  color: #212121;
}

.features_text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.feedback-act_title {
  margin-bottom: 20px;
  color: #ffffff;
}

/*Perfomance page*/
.perfomance_item {
  position: relative;
  margin-right: 30px;
  width: 370px;
}

.perfomance_item:nth-child(3n) {
  margin-right: 0;
}

.perfomance_action {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(47, 48, 58, 0.8);
}

.perfomance_title {
  margin: 27px auto;
  text-align: center;
  color: #ffffff;
}

/* Team page*/
.page-team {
  background-color: #F5F4FA;
}

.team_member {
  margin-right: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team_member:last-child {
  margin-right: 0;
}

.team_member-card {
  padding: 30px 0;
}

.team_member-name {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.team_member-position {
  margin: 0;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team_member-accounts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  margin-top: 16px;
  margin-right: 32px;
  margin-left: 32px;
}

.team_member-account,
.account {
  margin-right: 10px;
}

.team_member-account:last-child,
.account:last-child {
  margin-right: 0;
}

.team_account-link,
.account_link {
  border: none;
  border-radius: 50%;
  background-size: contain;
  background-position: center;
  width: 44px;
  height: 44px;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team_account-icon {
  fill: #afb1b8;
}

.team_account-link:hover,
.team_account-link:focus {
  background: #2196f3;
}

.team_account-link:hover .team_account-icon,
.team_account-link:focus .team_account-icon {
  fill: #ffffff;
}

/*Page clients*/
.clients_item {
  margin-right: 30px;
}

.clients_item:last-child {
  margin-right: 0;
}

.clients_link {
  width: 170px;
  height: 92px;
  background-position: center;
  background-size: contain;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients_link:hover, .clients_link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

/* Footer */
.page-footer {
  height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  color: #ffffff;
}

.page-footer .logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

.feedback-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.feedback-contact {
  margin-right: 70px;
}

.feedback-contact:nth-child(2) {
  margin-right: 93px;
  padding: 0;
}

.feedback-contact:last-child {
  margin-right: 0;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 231px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

a.map {
  color: #ffffff;
}

a.address_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

a.address_link:nth-child(n+2) {
  padding-top: 9px;
}

.address_link {
  color: rgba(255, 255, 255, 0.6);
}

.account_link {
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.account_link:hover, .account_link:focus {
  background: #2196f3;
}

.account_icon {
  fill: #ffffff;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback-form_input {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: var(--secondary-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  cursor: pointer;
}

.feedback-form_input::-webkit-input-placeholder {
  display: -webkit-box;
  display: flex;
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.feedback-form_input:-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.feedback-form_input::-ms-input-placeholder {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.feedback-form_input::placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.feedback-form_button-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  padding: 0;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  cursor: pointer;
}

.feedback-form_icon-submit {
  margin-left: 10px;
  height: 50%;
  fill: #ffffff;
}

/* Portfolio page*/
.portfolio_title {
  display: none;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.filter_item:not(:last-child) {
  margin-right: 8px;
}

.filter_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  padding: 6px 22px;
  margin-bottom: 50px;
  border: none;
  cursor: pointer;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter_button:hover, .filter_button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.active {
  background-color: #2196f3;
  color: #ffffff;
}

/* Projects */
.project_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project_item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project_item:hover .description_text--cover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project_item:nth-child(3n) {
  margin-right: 0;
}

.project_link:hover,
.project_link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.project_description {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.project_description--cover {
  position: relative;
  overflow: hidden;
}

.description_text--cover {
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.project_title {
  margin-bottom: 4px;
  margin-top: 0;
}

.link .project_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project_text {
  margin: 0;
}

.link .project_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

/*Modal*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opasity 250ms, visibility 1500ms;
  transition: opasity 250ms, visibility 1500ms;
}

.is-hidden {
  opacity: 1;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  border-radius: 4px;
  background: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 1500ms;
  transition: -webkit-transform 1500ms;
  transition: transform 1500ms;
  transition: transform 1500ms, -webkit-transform 1500ms;
}

.backdrop.is-hidden .modal {
  opacity: 1;
  -webkit-transform: translate(100%, 100%) scale(0) rotate(180deg);
          transform: translate(100%, 100%) scale(0) rotate(180deg);
  -webkit-transition: -webkit-transform 1500ms;
  transition: -webkit-transform 1500ms;
  transition: transform 1500ms;
  transition: transform 1500ms, -webkit-transform 1500ms;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .button-close_icon {
  fill: #2196f3;
}

.button-close_icon {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-request {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

/*Modal form*/
.modal-date {
  margin-bottom: 10px;
}

.modal-date:nth-child(4) {
  margin-bottom: 0;
}

.modal-date_input-wrap {
  position: relative;
}

.modal-date_label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-date_input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-date_input:focus {
  border-color: #2196f3;
}

.modal-date_input:focus + .modal-date_icon {
  fill: #2196f3;
}

.modal-date_icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-date_texteria {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-date_texteria:focus {
  border-color: #2196f3;
}

.modal-date_input::-webkit-input-placeholder,
.modal-date_texteria::-webkit-input-placeholder {
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-date_input:-ms-input-placeholder,
.modal-date_texteria:-ms-input-placeholder {
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-date_input::-ms-input-placeholder,
.modal-date_texteria::-ms-input-placeholder {
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-date_input::placeholder,
.modal-date_texteria::placeholder {
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
  margin: 0 auto 30px;
}

.modal-checkbox_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
}

.modal-checkbox_input {
  visibility: hidden;
}

.modal-checkbox_input:checked + .modal-checkbox_label .modal-checkbox_icon {
  background: #2196f3;
  border-color: #2196f3;
  fill: #ffffff;
}

.modal-checkbox_icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 1px solid #000000;
  border-radius: 3px;
  fill: transparent;
}

.modal-checkbox_policy {
  margin-left: 4px;
  text-decoration: underline;
  color: #2196f3;
}

.modal_button-submit {
  display: block;
  margin: 0 auto;
  padding: 10px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-color: #2196f3;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */