/* Features page*/
.features__headline,
.perfomance__headline,
.team__headline,
.clients__headline {
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: $text-color;
}

.features__headline {
    display: none;
    color: $primery-bg-color;
}

.features__items,
.features__icon,
.perfomance__items,
.header-navigation__items,
.header-contacts,
.team-members,
.team-member__account-link,
.clients__items,
.clients__link,
.accounts,
.account__link,
.filter__items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features__item {
    margin-right: 30px;
    width: 270px;
    &:last-child {
    margin-right: 0;
}
}

.features__icon {
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
}

.features__title,
.feedback-act__title,
.perfomance__title {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.features__title {
    margin-bottom: 10px;
    color: $text-color;
}

.features__text {
    margin: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.feedback-act__title {
    margin-bottom: 20px;
    color: $secondary-text-color;
}